/bin
/build
/out
sample/train/iwlst14de-en.train.log
/models
/model
/OpenBLAS-0.3.10-x64
OpenBLAS-0.3.10-x64*
tools/opennmt.model.txt
.vs/
sample/train/iwslt14.tokenized.de-en/
*.zip
vaid.data
train.data
valid.data
test.de
vocab.de
vocab.en
model.bin*
source/niutensor/
tools/OpenNMTModelConverter.py
