/Debug
/x64
/decoder.vcxproj*
/model.bin*
./*.zip
CMakeCache.txt
/CMakeFiles
cmake_install.cmake
*.bin
*.pdf
/niutrans*
niutensor.input
tiny_9_1.bin.fp32
./output*
test_data*
/tools/fastbpe_source*
/tools/nonbreaking_prefixes*
/tools/*.perl*
/model/*
/copy/*
copy*
*.sh
en-de.en.niutensor.temp.input
fbis.train
en-de.de
train.train
train.de
valid.de
convert_log
valgrind.log
train.log
train.log.2
tools/Preprocess.py
init.bin.name.txt
train.data
valid.data
/build
/out
/.vs
/bin
/pretrained
pretrained*
model.ensemble.filepart
model.5.filepart
sample/train/iwlst14de-en.train.log
/OpenBLAS*